---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  let allTags = [];
  for (const post of allPosts) {
    // console.log("post", post);
    for (const tag of post.frontmatter.tags) {
      if (!allTags.includes(tag)) {
        allTags.push(tag);
      }
    }
  }

  // return "test";

  return allTags.map((tag) => ({
    params: { tag: tag },
    props: { posts: allPosts },
  }));

  // return [
  //   { params: { tag: "astro" }, props: { posts: allPosts } },
  //   { params: { tag: "successes" }, props: { posts: allPosts } },
  //   { params: { tag: "community" }, props: { posts: allPosts } },
  //   { params: { tag: "blogging" }, props: { posts: allPosts } },
  //   { params: { tag: "setbacks" }, props: { posts: allPosts } },
  //   { params: { tag: "learning in public" }, props: { posts: allPosts } },
  // ];
}

// const allPosts = await Astro.glob("../posts/*.md");
// for (const post in allPosts) {
//   console.log("post", post.frontmatter.title);
// }

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts
        .filter((post) => post.frontmatter.tags?.includes(tag))
        .map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            pubDate={post.frontmatter.pubDate}
          />
        ))
    }
  </ul>
</BaseLayout>
